#warp{
  width: 100%;
  height: 50px;
  background-color: rgba(20, 20, 20, 0);

}
#mybtn{
  font-size: 14px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  vertical-align: middle;
  display: table-cell;
  color: rgba(255, 255, 255, 0.8); 
}

